.panel{
	background-color:#56667B;
	padding-left:10%;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	


}
.foto5 img{
	max-width:100%;
}
.foto5{
	width:98%;
	margin:0 auto;
}
.bingkai{
	margin:0 auto;
	width:1200px;
	

}
.kunjung{
	float:right;

	border:5px solid #fff;

	 
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	margin:10px 15px 20px 0;
}
.card img{
	border:5px solid #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
		  

}
.kunjung3{
	clear:both;
	float:left;
}