.card{
	border: 1px solid #880000; 
	padding:5px 10px;
	margin:1px 5px;
	float: left; 
	width: 45%;
	height:320px;

}
.card2{
	border: 1px solid #880000; 
	padding:5px 10px;
	margin:1px 5px;
	float: left; 
	width: 95%;
	height:320px;

}

.header{
	margin-top:1px;
	padding-bottom:-8px;
	border-bottom: 1px solid #880000;
	margin-bottom:10px;
}
.judul{
	margin:-20px 10px 0 10px;
text-align:center;
font-size:16px;
}.judul1{
	margin:-20px 10px 25px 10px;
text-align:center;
font-size:13px;
}
.judul3{
	margin:-20px 10px 0 50px;
	
text-align:center;
}.judul4{
	margin:-30px 10px 25px 50px;
text-align:center;
}
.bersih{
	clear:both;
}
.label1{
	width:25%;
	float:left;
	padding-left:10px;
	font-size:12px;

}
.label2{
	width:67%;
	float:right;
	font-size:12px;

}
.foto{
	margin:20px;
	float:left;
	width:30%;
	
}
.kanan{
	float:right;
	font-size:11px;
	width:49%;

	 
}
.tut{
	margin-top:10;
}
.footer{
	height:120px;
}
