
@page {
    margin-top: 2.0cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

body{
	
	font-size:16px;
	font:Arial;

	line-height:1.5em;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

