.jarak{
	margin-bottom:20px;
}
.scan{
	float:right;
	margin-right:20%;
	margin-top:-4%;
	color:green;
	font-weight:600;
}
.scan1{
	float:right;
	margin-right:20%;
	margin-top:-4%;
	color:red;
	font-weight:600;
}
.pojokkanan{
	float:right;
	margin-right:10%;
}
.jeda{
	height:30px;
	margin:10px;
}
.kantor{
	margin-left:10%;
	margin-bottom:-1.5%;
	font-size:20px;
	
}